/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;    
}

body {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
}

/* Card Properties */
/* .card h4{
    font-weight: 600;
} */

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Block */
.block{
    border: 0.5px solid #DCDCDC;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    padding: 10px;
}

.block btitle{
    padding: 15px;
    font-size:25px;
	text-transform:uppercase;	
}

.block hr{
    border: 0;
  	border-top: 1px solid #151515;
  	border-top-style: dashed;
	margin-top:3px;
}

.block .thumbnail{
    border:0px;
	text-align:center;
  -webkit-box-shadow: 0px;
     -moz-box-shadow: 0px;
          box-shadow: 0px;
    background: none;
    text-align: center;
    margin-bottom: 15px;
}

/* Heart rate monitor block */
.heart-num-block .fa-heartbeat{
    color: #800000;
}

/* EKG stuff plus animation */
.heart-rate {
    width: 150px;
    height: 73px;
    position: relative;
    margin: 20px auto;
}

.fade-in {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    top: 0;
    right: 0;
    animation: heartRateIn 2.5s linear infinite;
}

.fade-out {
    position: absolute;
    width: 95%;
    height: 100%;
    top: 0;
    left: -95%;
    animation: heartRateOut 2.5s linear infinite;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
}

@keyframes heartRateIn {
    0% {
        width: 100%;
    }
    50% {
        width: 0;
    }
    100% {
        width: 0;
    }
}

@keyframes heartRateOut {
    0% {
        left: -95%;
    }
    30% {
        left: -95%;
    }
    100% {
        left: 0;
    }
}

/* Spinner Loader */
.loader,
.loader:after {
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
}
.loader {
  /*margin: 60px auto;*/
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0,0,0, 0.2);
  border-right: 1.1em solid rgba(0,0,0, 0.2);
  border-bottom: 1.1em solid rgba(0,0,0, 0.2);
  border-left: 1.1em solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}


.loader-lg,
.loader-lg:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader-lg {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0,0,0, 0.2);
  border-right: 1.1em solid rgba(0,0,0, 0.2);
  border-bottom: 1.1em solid rgba(0,0,0, 0.2);
  border-left: 1.1em solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Client Modal */
.client-modal{
    z-index: 0;
    background-color: inherit;
}

.client-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.client-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.client-modal .modal-content img {
  margin-bottom: 30px;
}
.client-modal .modal-content .item-details {
  margin: 30px 0;
}
.client-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.client-modal .close-modal-left{
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    left: 25px;
    cursor: pointer;
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.client-modal .close-modal-left:hover,
.client-modal .close-modal-left:focus{
    color: #000;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.client-modal .close-modal:hover{
  opacity: 0.3;
}

.client-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 0;
}
.client-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 0;
}
.client-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

.full-width-btn{
    width: 100%;
}