    /*
    Flaticon icon font: Flaticon
    Creation date: 12/12/2017 01:08
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-standing-human-body-silhouette:before { content: "\f100"; }
.flaticon-human-footprint:before { content: "\f101"; }
.flaticon-footprints:before { content: "\f102"; }
.flaticon-lungs-with-the-trachea:before { content: "\f103"; }
.flaticon-heart-shaped-box:before { content: "\f104"; }
.flaticon-sumo-fighter:before { content: "\f105"; }
.flaticon-droplet-of-water:before { content: "\f106"; }
.flaticon-blood-pressure-gauge:before { content: "\f107"; }
.flaticon-distance:before { content: "\f108"; }
.flaticon-dumbbell:before { content: "\f109"; }
    
    $font-Flaticon-standing-human-body-silhouette: "\f100";
    $font-Flaticon-human-footprint: "\f101";
    $font-Flaticon-footprints: "\f102";
    $font-Flaticon-lungs-with-the-trachea: "\f103";
    $font-Flaticon-heart-shaped-box: "\f104";
    $font-Flaticon-sumo-fighter: "\f105";
    $font-Flaticon-droplet-of-water: "\f106";
    $font-Flaticon-blood-pressure-gauge: "\f107";
    $font-Flaticon-distance: "\f108";
    $font-Flaticon-dumbbell: "\f109";